.lead p {
    font-size: 25px;
}

.site-heading {
    font-family: var(--title-font);
    text-transform: uppercase;
    color: var(--primary);
    font-size: clamp(18px, 7px + 2vw, 22px);
}
.big-logo {
    max-width: 150px;
    opacity: 0;
    transform: translate(0px, 100px);
}
