.prestations {
    &__hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 50px;
        h1 {
            border-left: 2px solid var(--primary);
            padding-left: 30px;
            font-size: clamp(50px, 10px + 5vw, 100px);
        }
        svg {
            font-size: 50px;
            color: white;
        }
    }
}
